[Desktop Entry]
Version=1.0
Type=Application
Name=AMILab
Comment=Image Processing and Visualization Tool
TryExec=amilab_2.0.4_release
Exec=amilab_2.0.4_release
Terminal=true
Icon=amilab
MimeType=image/x-foo;
Categories=Education;Science;Graphics;
