[Desktop Entry]
Version=1.0
Type=Application
Name=AMILab
Comment=Image Processing and Visualization Tool
TryExec=amilab_2.1.0_release
Exec=amilab_2.1.0_release
Terminal=true
Icon=amilab
MimeType=image/x-foo;
Categories=Graphics;Education;Science;
